@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.container1 {
    margin-left: 125px;
    margin-right: 100px;
    width: 1440px;
    background: #FFFFFF;
}
.head img {
    width: 150px;
    height: 66px;
    margin-top: 21px;
}
.all2 {
    display: flex;
    flex-direction: row;
}
.all2 p {
    font-size: 20px;
    line-height: 23px;
}
.all2 img {
    width: 22px;
    height: 22px;
}
.course img {
    margin-top: 100px;
}
.course p {
    width: 130px;
    margin: -25px 0px 0px 25px;
}
.hour img {
    margin-top: 100px;
    margin-left: 25px;
}
.hour p {
    width: 130px;
    margin: -25px 0px 0px 50px;
}
.date img {
    margin-right: 25px;
    margin-top: 100px;
}
.date p {
    width: 130px;
    margin: -25px 0px 0px 29px;
}
.medium {
    display: flex;
    flex-direction: row;
}
.nearboy h1 {
    width: 628px;
    height: 190px;
    margin-top: 43px;
    font-family: 'Roboto Slab';
    font-size: 80px;
}
.za {
    font-size: 20px;
    line-height: 30px;
    margin-top: 51px;
}
.nearboy .boy img {
    width: 304px;
    height: 356px;
    margin: 223px 246px 0px 890px;
}
.rectangle {
    width: 440px;
    height: 200px;
    margin: 87px 0px 0px 409px;
    background: #1E4681;
    border-radius: 5px;
    color: white;
}
.rectangle .about1 {
    font-family: 'Roboto Slab';
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    padding: 19px 45px 26px 27px;
}
.rectangle .author {
    font-size: 20px;
    line-height: 2px;
    text-align: right;
    padding-right: 25px;
}
.second {
    height: 93px;
    font-family: 'Roboto Slab';
    font-size: 55px;
    line-height: 56px;
    color: #000000;
    margin-top: 174px;
}
.film {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.film .boy2 {
    width: 314px;
    height: 315px;
    margin-left: 190px;
    padding-right: 50px;
}
.camera {
    display: flex;
    flex-direction: row;
}
.camera img {
    width: 232px;
    height: 203px;
    margin-top: 94px;
}
.nearcamera {
    margin-top: 164px;
    padding-left: 132px;
    color: #000000;
    display: flex;
    flex-direction: row;
}
.nearcamera h3 {
    font-size: 25px;
    line-height: 32px;
}
.nearcamera p {
    font-size: 18px;
    line-height: 23px;
    width: 150px;
    height: 39px;
}
.hm {
    padding-left: 95px;
}
.wm {
    padding-left: 93px;
}
.hello {
    display: flex;
    flex-direction: row;
    line-height: 130%;
}
.hello h3 {
    color: #1E4681;
    font-size: 25px;
    height: 39px;
}
.hello p {
    color: #000000;
    font-size: 18px;
}
.part1 {
    margin: 89px 0px 1px 0px;
}
.part2 {
    margin: 89px 0px 0px 125px;
}
.part3 {
    margin: 89px 0px 1px 63px;
}
.story2 {
    margin: 1px 113px 179px 122px;
}
.story3 {
    margin: 1px 0px 0px 63px;
}
.who {
    display: flex;
    flex-direction: column;
}
.hi {
    margin: 178px 0px 89px 0px;
    font-family: 'Roboto Slab';
    font-size: 55px;
}
.finish {
    margin-top: 20px;
    color: #000;
    height: 374px;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Roboto Slab';
}
.bye {
    height: 93px;
    font-size: 55px;
}





@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.body1 {
    font-family: 'Roboto';
    margin:0;
    padding: 0;
    margin-top: 250px;
}


.programm{
    margin-left: 121px;
    margin-top: 0;
    margin-bottom: 95px;
    width: 667px;
    font-size: 55px;
    font-family: 'Roboto Slab', sans-serif;
}

.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1350px;
    justify-content: start;
}
.block {
    height: 45vh;
    width: 25vw;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 41px;
    margin-right: 35px;
    
    min-width: 185px;
}
h2 {
    margin: 2px 0 2px 20px;
}


.blocks p {
    font-size: 25px;
    margin: 0 15px 23px 19px;
}

.block img {
    width: 25vw;
    height: 22vh;
    min-width: 185px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {

    .body1 {
        font-family: 'Roboto';
        margin:0;
        padding: 0;
        margin-top: 250px;
    }


.programm {
    margin-left: 70px;
    font-size: 32px;
    margin-bottom: 50px;
}
h1.format {
    margin-bottom: 51.55px;
}



.block img {
    width: 25vw;
    height: 22vh;
    min-width: 185px;
}
.block h2 {
    font-size: 17px;
}
.block p {
    font-size: 14px;
}
.blocks {
    margin-left: 58px;
}



}
@media screen and (min-width: 320px) and (max-width: 991px) {


    h3 {
        font-size: 11px;
    }

    span {
        margin: 0;
    }
    div.tabimg {
        margin-top: 59px;
        margin-bottom: 0px;
    }
    .programm {
        font-size: 26px;
        margin-left: 36px;
    }



    .blocks {
        margin-left: 95px;
    }
    .programm {
        margin-bottom: 35px;
        margin-left: 70px;
    }

   
    .block {
        width: 20vw;
        height: 21vh;
        margin-bottom: 24px;
    }
    .block img {
        width: 20vw;
        height: 10vh;
    }
    .block h2 {
        font-size: 14px;
    }
    .block p {
        font-size: 12px;
    }
}






@media (min-width: 1280px) {
    .container {
        width: 90%;
    }
}
.container2{
   width: 1550px;
}
.gray{
    background-color: #EFEFEF;
    margin-top: 200px;
     height: 780px;
}
.gray h1{ 
   text-align: center;
   font-size: 55px;
   margin-bottom: 50px;
   padding-top: 90px;
}
.person {
   width: 791px;
   height: 451px;
   background-color: #FFFFFF;
   border-radius: 30px;
   margin-left: 126px;
}

.persontext p {
   font-size: 20px;
   line-height: 30px;
   margin-left: 45px;
   padding-top: 46px;
   width: 700px;
}
.ekaterina{
    display: flex;
    margin-top: 50px;
}
.ekaterina .Eka{
    margin-top: 20px;
}
.ekaterina h3{
    font-size: 30px;
}
.ekaterina .fb{
    margin: -291px;
}
.blockcyan{
    background: #9DC9C8;
    width: 1550px;
    height: 780px;
}
.insidecyan{
    margin-left: 122px;
    padding-top: 179px;
}
.blockcyan h1{
    font-size: 55px;
}
.rubl1{
    font-size: 25px;
    line-height: 25px;
    margin-top: 54px;
}
.rubl2{
    font-size: 80px;
    margin-top: 20px;
}
.now {
    display: flex;
    margin-top: 155px;
}
.now1{
    padding-left: 70px;
}
.now h3{
    font-size: 25px;
}
.now p{
     width: 294px;
     margin-top: 9px;
     font-size: 18px;
}
.footer{
    background-color: #000;
    padding:0px 60px ;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.footer .first {
    display: flex;
   justify-content: space-between;
}
.first  .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 .first .left .two{
    display: flex;
}
 .left .right{
    display: flex;
    flex-direction: column;
}
.right div{
    display: flex;
    align-items: center;
}
.footer .right img {
    width: 30px;
    height: 30px;
}
.contact p {
    color: #fff;
}
.footer .second2{
    color: #fff;
}
.two2{
    padding: 30px 3px 60px 0px;
}
.one1{
    padding-top: 50px;
}
.right{
    margin-top: 60px;
}
.contact{
    padding-top: 20px;
}